
.booklist{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    
}
.Book{
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(211, 211, 211, 0.96);
    border-radius: 10px;

    box-sizing: border-box;
}
.Book img{
    max-width: 100%;
}